body {
	font-family: Roboto Condensed;
}
.products {
	min-width: 200px;
	min-height: 300px;
	max-width: 200px;
	align-content: center;
	position: absolute;
	display: inline;
	border: 1px solid #ccc!important;
	border-radius: 7px!important;
}

.dragElements {
	width: 80px;
	height: 80px;
	background-image: url('../img/other.png');
	background-size: cover;
	text-align: center;
	display: inline-block;
	color: white;
	text-shadow: 1px 1px 2px black,0 0 1em;
	z-index: 10;
}

.kitchen {
	width: 300px;
	height: 300px;
	max-width: 300px;
	max-height: auto;
	text-align: center;
	background-image: url('../img/wood.png');
	background-size: contain;
	background-repeat: no-repeat;
	position: absolute;
	margin-left: 30%;
}
.kitchen>p,#outProducts>p,#fridge>p {
	font-size: 20px;
	color: white;
	text-shadow: 1px 1px 2px black,0 0 1em;
	text-align: center;
}
.kitchen>#wrapprod {
	height: 170px;
	margin-bottom: 30px;
}

#outProducts {
	right: 18px;
}
#cookisngProducts {
	position: absolute;
	margin-bottom: : 0px;
}

.list-group>.ingredient {
	opacity: 0;
	display: none;
}
ul.list-recipes {
	margin-bottom: 0;
}
li>a#addFridgeProduct,li>a#addFridgeProduct:link,li>a#addFridgeProduct:visited{
	float: right;
	text-decoration: none;
}
.blinking{
    animation:blinking 1s infinite;
    animation-direction: alternate;
}
@keyframes blinking{
    from{
    	opacity: 0;
    }
    to{
    	opacity: 1;
    }
}
